<?xml version="1.0"?>
<launch>
    <!-- *** Declarar argumentos *** -->

    <arg name="namespace" default="/rb1"/>
    <arg name="launch_ns" default="true"/>

    <!-- Argumentos de armservices.launch -->
    <arg name="launch_armservices" default="true"/>
    <arg name="outputscreen_armservices" default="true"/>

    <!-- Argumentos de doorservices.launch -->
    <arg name="launch_doorservices" default="true"/>
    <arg name="outputscreen_doorservices" default="true"/>

    <!-- Argumentos de mainscript.launch -->
    <arg name="launch_mainnode" default="true"/>
    <arg name="outputscreen_mainnode" default="true"/>

    <!-- *** Incluir los launch *** -->
    <include if="$(arg launch_armservices)" file="$(find armcontrolmoveit)/launch/armservices.launch">
        <arg name="outputscreen" default="$(arg outputscreen_armservices)"/>
        <arg name="namespace" default="$(arg namespace)"/>
        <arg name="launch_ns" default="$(arg launch_ns)"/>
    </include>

    <include if="$(arg launch_doorservices)" file="$(find armcontrolmoveit)/launch/doorservices.launch">
        <arg name="outputscreen" default="$(arg outputscreen_doorservices)"/>
        <arg name="namespace" default="$(arg namespace)"/>
        <arg name="launch_ns" default="$(arg launch_ns)"/>
    </include>

    <include if="$(arg launch_mainnode)" file="$(find armcontrolmoveit)/launch/mainscript.launch">
        <arg name="outputscreen" default="$(arg outputscreen_mainnode)"/>
        <arg name="namespace" default="$(arg namespace)"/>
        <arg name="launch_ns" default="$(arg launch_ns)"/>
    </include>
</launch>