<?xml version="1.0"?>
<launch>
    <!-- Declarar argumentos -->
    <arg name="launch_ns" default="true"/>
    <arg name="namespace" default="/rb1"/>
    <arg name="test_mode" default="false"/>

    <!-- Ejecutar nodo -->
    <group ns="$(arg namespace)" if="$(arg launch_ns)">

        <node if="$(arg test_mode)" pkg="armcontrolmoveit" type="main.py" name="test_open_door"
        required="true" output="screen" args="test $(arg namespace)"/>

        <node unless="$(arg test_mode)" pkg="armcontrolmoveit" type="main.py" name="open_door"
        required="true" output="screen" args="not_test $(arg namespace)"/>
            
    </group>
    
    <group unless="$(arg launch_ns)">

        <node if="$(arg test_mode)" pkg="armcontrolmoveit" type="main.py" name="test_open_door"
        required="true" output="screen" args="test"/>

        <node unless="$(arg test_mode)" pkg="armcontrolmoveit" type="main.py" name="open_door"
        required="true" output="screen" args="not_test"/>

    </group>
    
</launch>